.background-image {
    background-image: url('src/assets/images/Row.svg');
    background-position: center;
  }
  
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: end;
  }
  
  .overlay img {
    margin-bottom: 1rem;
  }