.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.activate-btn {
    background-color: var(--vt-c-blue);
    width: 110%;
  }

  .duration-btn {
    width: 35%;
    height: 3rem;
  }

  .date-range {
    width: 30%;
    height: 3rem;
  }

  .export-btn {
    width: 45%;
    border-color: aqua;
  }

  canvas {
    max-width: 100%;
    height: auto !important;
    width: auto !important;
  }
  
  .calendar-date:focus {
    color: red;
  }