/* TICKET NAME: FOOTER */
@media only screen and (max-width: 576px) {
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .nav.sitemmap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .nav.sitemmap .nav-link {
    padding: 0.25rem 0.5rem;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .text-align-end {
    text-align: center;
  }
}

@media only screen and (min-width: 576px) {
  .nav.sitemmap .nav-link {
    padding: 0.25rem 0.5rem;
  }
  .social {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .nav.sitemmap {
    margin-bottom: 0;
  }
  .social {
    gap: 1rem;
  }
}

.footer {
    font-family: 'Poppins' sans-serif;
    color: var(--vt-c-purple);
    background-color: var(--vt-c-default-white);
}

.footer .nav .nav-item a {
    color: var(--vt-c-purple);
}

.footer .nav i {
    color: var(--vt-c-purple);
    font-size: 24px;
}

.footer .logo img {
    width: 150px;
}
