.header {
    display: flex;
    width: 1536px;
    height: 64px;
    left: 0px;
    top: 0px;
    background-color: var(--vt-c-black);
}

.header img {
    width: 140px;
    height: 65px;
    max-width: 100%;
    margin-left: 1rem; 
}

.icon1 {
  margin-left: 15rem;
  width: 90px;
  padding-block: 20px;
  color: var(--vt-c-white);
} 

.icon2 {
  margin-left: 50rem;
  width: 90px;
  padding-block: 20px;
  color: var(--vt-c-white);
} 