.colors {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    height: 15.625rem;
 }  
 
 .purple {
    width: 100px;
    height: 100px;
    background: var(--vt-c-purple);
    margin: 10px;
    padding: 20px;
 }
 
 .blue {
    width: 100px;
    height: 100px;
    background: var(--vt-c-blue);
    margin: 10px;
    padding: 20px;
 }
 
 .black {
    width: 100px;
    height: 100px;
    background: var(--vt-c-black);
    margin: 10px;
    padding: 20px;
 
 }
 
 .light-black {
    width: 100px;
    height: 100px;
    background: var(--vt-c-light-black);
    margin: 10px;
    padding: 20px;
 }
 
 .default-white {
    width: 100px;
    height: 100px;
    background: var(--vt-c-default-white);
    margin:10px;
    padding: 20px;
    border: 1px solid var(--vt-c-light-gray);
 }
 
 .white {
    width: 100px;
    height: 100px;
    background: var(--vt-c-white);
    padding: 20px;
    margin: 10px;
 }
 
 .input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    width: 500x;
    height: 765px;
 }

   /* .input-fields hover  */
 .default {
  height: 56px;
}

.default-search-purple {
  border-color: var(--vt-c-purple);
}

 .default:hover {
    background: var(--vt-c-default-white);
 }
 
 .default-password:hover {  
    background: var(--vt-c-default-white);
 }

 .selected:hover {
   background: var(--vt-c-default-white);
   border: var(--vt-c-purple);
}

 .selected-password:hover {
    background: var(--vt-c-default-white);
    border: var(--vt-c-sky);
 }
 
   .input-group:hover {
  border: 1px var(--vt-c-purple);
 }

 .text {
  padding-left: 3rem;
  color: var(--vt-c-default-white);
}
 .selected-search {
   padding-left: 3rem;
   color: var(--vt-c-violet);
   border-bottom:2px solid var(--vt-c-purple)
 }

 .selected-search:focus , .selected-search:hover {
    background: var(--vt-c-default-white);
 }
 
 .default-search-light:hover {
    background: var(--vt-c-default-white);
    border: var(--vt-c-purple);
 }
 
 .default-duration:hover {
    background: var(--vt-c-default-white);
    border:var(--vt-c-purple);
 }
 
 .selected-duration:hover {
    background: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple);
 }
 
 .selected-duration-purple {
    border: 1px solid var(--vt-c-purple);
 }
 
 .default-date-range:focus , .default-date-range:hover {
    background: var(--vt-c-default-white);
    border: var(--vt-c-purple);
 }
 
 .selected-date-range:focus , .selected-date-range:hover {
    background: var(--vt-c-default-white);
    border: var(--vt-c-purple);
 }

 .password-toggle {
   position:absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   cursor: pointer;

 }
      /* buttons */   

 .default-button {
    width: 95px;
    height: 44px;
    padding: 10px, 20px, 10px, 20px;
    color: var(--vt-c-white);
    background: var(--vt-c-lavender);  
    border: var(--vt-c-purple);
 }
 
 .default-button:hover{
   background-color: var(--vt-c-violet);
 }  

 .default-outline {
  width: 95px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-blue);
   border: 2px solid var(--vt-c-blue);
   background: var(--vt-c-default-white);
 }

 .default-outline:hover {
  border-color: var(--vt-c-dark-blue);
 }

 .default-outline-purple {
  width: 95px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-lavender);
   border: 2px solid var(--vt-c-lavender);
   background: var(--vt-c-default-white);
 }

 .default-outline-purple:hover {
  border-color: var(--vt-c-violet);
 }

 .click-hover-button {
  width: 128px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-white);
   background: var(--vt-c-violet);
   border: var(--vt-c-purple);
 }

 .click-hover-button:hover , .click-hover-button:focus {
   background: var(--vt-c-violet);
   border:var(--vt-c-black);
 }

 .click-hover-outline {
   width: 128px;
   height: 44px;
   padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-dark-blue);
   border: 2px solid var(--vt-c-dark-blue);
   background: var(--vt-c-default-white);
 }

 .click-hover-outline-purple {
  width: 128px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-violet);
   border: 2px solid var(--vt-c-violet);
   background: var(--vt-c-default-white);
 }

 .disabled-button {
   width: 106px;
   height: 42px;
   padding: 10px, 20px, 10px, 20px;;
   color: var(--vt-c-default-white);
   background: var(--vt-c-light-gray);
   border: var(--vt-c-purple);
 }

 .disabled-outline {
   width: 106px;
   height: 42px;
   padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-light-gray);
   border: 2px solid var(--vt-c-light-gray);
   background: var(--vt-c-default-white);
}

/* button + icon */
.icon {
   font-size: 24px;
}

 .default-icon {
  width: 124px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-blue);
   border: 2px solid var(--vt-c-blue);
   background: var(--vt-c-default-white);
 }

 .default-icon:hover {
  border-color: var(--vt-c-dark-blue);
 }

 .click-hover-icon {
  width: 157px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-dark-blue);
   border: 2px solid var(--vt-c-dark-blue);
   background: var(--vt-c-default-white);
 }

 .disabled-icon {
   width: 135px;
   height: 44px;
   color: var(--vt-c-light-gray);
   border: 2px solid var(--vt-c-light-gray);
   background: var(--vt-c-default-white);
 }

 .default-purple {
   width: 124px;
   height: 44px;
   color: var(--vt-c-lavender);
   border: 2px solid var(--vt-c-lavender);
   background: var(--vt-c-default-white);
 }

 .default-purple:hover {
  border-color: var(--vt-c-violet);
 }

 .click-hover-purple {
  width: 157px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
   color: var(--vt-c-violet);
   border: 2px solid var(--vt-c-violet);
   background: var(--vt-c-default-white);
 }

 /* text */
 .text-default {
   font-family: 'Inter' sans-serif;
   color: var(--vt-c-lavender);
 }

 .text-default:hover {
  color: var(--vt-c-violet);
 }

 .text-click-hover {
   font-family: 'Inter' sans-serif;
   color: var(--vt-c-lavender);
 }

.text-disabled {
   font-family: 'Inter' sans-serif;
   color: var(--vt-c-light-gray);
}

.arrow , .arrow-right , .text-previous {
   color: var(--vt-c-light-gray);
}

.text-one , .text-next , .arrow:hover , .arrow-right , .arrow-right:hover {
  color: var(--vt-c-violet);  
  text-shadow: 2px solid var(--vt-c-violet); 
}

 .icon-eye , .icon-filter {
   color: var(--vt-c-default-white);
   font-size: 24px;
 }

 .icon-black {
  color: var(--vt-c-default-white);
  font-size: 24px;
  margin-left: 1px;
 }

 .icon-select {
  font-size: 24px;
  margin-left: 1px;
 }

.icon-span {
    background-color: var(--vt-c-default-white);
    font-size: 24px;
    border-radius: 0rem;
}

.icon-span-purple {
    border-top-color: var(--vt-c-purple);
    border-bottom-color: var(--vt-c-purple);
    border-left-color: var(--vt-c-purple);
    border-right-color:var(--vt-c-default-white) ;
    border-radius: 0rem;
    background-color: var(--vt-c-default-white);
    font-size: 24px;
}

.checkbox {
  width: 24px;
  height: 24px;
}

  /* close button */
/* .close-button {
  position: relative;
  border-radius: 50%;
  height:44px;
  width:44px;
  background-color: var(--vt-c-purple);
  }


.close-button2 {
  position: relative;
  border-radius: 50%;
  height:44px;
  width:44px;
  background-color: var(--vt-c-purple);
  } */
.close-icon {
  font-size: 44px;
  color: var(--vt-c-purple);
}

.close-icon2 {
  font-size: 44px;
  color: var(--vt-c-light-green);
}
/* filter */
.btn-filter {
   width: 130px;
   height: 44px;
   color: var(--vt-c-default-white);
   background-color: var(--vt-c-purple);
   border-left:1px solid var(--vt-c-light-gray);
   border-top: 1px solid var(--vt-c-purple);
   border-bottom: 1px solid var(--vt-c-purple);
   border-right: 1px solid var(--vt-c-purple);
   border-radius:0%;
   box-shadow: none;
}

.form-check-input:checked {
   background-color: var(--vt-c-purple);
 }

 .form-check-input:checked:hover {
   background-color: var(--vt-c-purple);
 }

 .filter-text {
   color: var(--vt-c-default-white);
 }

 .btn-purple-filter {
   background: var(--vt-c-purple);
   border-left: 0.1rem solid var(--vt-c-purple);
   border-top: 1px solid var(--vt-c-purple);
   border-bottom: 1px solid var(--vt-c-purple);
   border-right: 1px solid var(--vt-c-purple);
   border-radius:0%;
   box-shadow: none;  
 }

 .btn-default {
   background: var(--vt-c-default-white);
   border-left:1px solid var(--vt-c-light-gray);
   border-top: 1px solid var(--vt-c-light-gray);
   border-bottom: 1px solid var(--vt-c-light-gray);
   border-radius:0%;
   box-shadow: none;
 }

 .btn-default-icon {
  background: var(--vt-c-default-white);
   border-left: 0.1rem solid var(--vt-c-light-gray);
   border-top: 1px solid var(--vt-c-light-gray);
   border-bottom: 1px solid var(--vt-c-light-gray);
   border-right: 1px solid var(--vt-c-light-gray);
   border-radius:0%;
   box-shadow: none;  
   height: 42px;
   width: 130px;
}

.filter-button {
  width: 161px;
  height: 44px;
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--vt-c-light-gray);
  box-sizing: border-box;
}

.border-line {
  border-left: 1px solid var(--vt-c-light-gray); 
  height: 5px;
}

.btn-purple-filter:hover .span:hover {
  border-color: 20px black;
}