.colors {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    height: 15.625rem;
 }  
 
 .purple {
    width: 100px;
    height: 100px;
    background: var(--vt-c-purple);
    margin: 10px;
    padding: 20px;
 }
 
 .blue {
    width: 100px;
    height: 100px;
    background: var(--vt-c-blue);
    margin: 10px;
    padding: 20px;
 }
 
 .black {
    width: 100px;
    height: 100px;
    background: var(--vt-c-black);
    margin: 10px;
    padding: 20px;
 
 }
 
 .light-black {
    width: 100px;
    height: 100px;
    background: var(--vt-c-light-black);
    margin: 10px;
    padding: 20px;
 }
 
 .default-white {
    width: 100px;
    height: 100px;
    background: var(--vt-c-default-white);
    margin:10px;
    padding: 20px;
    border: 1px solid var(--vt-c-light-gray);
 }
 
 .white {
    width: 100px;
    height: 100px;
    background: var(--vt-c-white);
    padding: 20px;
    margin: 10px;
 }
 
 .input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    width: 500x;
    height: 765px;
 }

   /* .input-fields hover  */
 .default {
  height: 56px;
}

 .default:focus , .default:hover {
    background: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-light-gray);
    box-shadow: 0 0 0 0.1rem  var(--vt-c-sky);
 }
 
 .default-password:focus , .default-password:hover {  
    background: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-light-gray);
    box-shadow: 0 0 0 0.1rem  var(--vt-c-sky);
 }

 .selected:focus , .selected:hover {
   background: var(--vt-c-default-white);
   box-shadow: 0 0 0 0.1rem var(--vt-c-purple);
}

 .selected-password:focus , .selected-password:hover {
    background: var(--vt-c-default-white);
    box-shadow: 0 0 0 0.1rem  var(--vt-c-sky);
 }
 
 .default-search  {
   padding-left: 3rem;
   background: var(--vt-c-black);
   -webkit-text-fill-color: azure;
   border: var(--vt-c-black);
   height: 44px;
 }

 .default-search-purple {
  border:var(--vt-c-light-green);
 }

 .selected-search {
   padding-left: 3rem;
   color: var(--vt-c-violet);
   border-bottom:2px solid var(--vt-c-purple)
 }

 .default-search:focus , .default-search:hover {
    background: var(--vt-c-black);
 }

 .selected-search:focus , .selected-search:hover {
    background: var(--vt-c-default-white);
 }
 
 .default-search-light:focus , .default-search-light:hover {
    background: var(--vt-c-default-white);
    border: var(--vt-c-light-gray); 
 }
 
 .default-search-purple:focus , .default-search-purple:hover {
    background: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple);
 }
 
 .default-duration:focus , .default-duration:hover {
    background: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple);
 }
 
 .selected-duration:focus , .selected-duration:hover {
    background: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple);
 }
 
 .selected-duration-purple {
    border: 1px solid var(--vt-c-purple);
 }
 
 .default-date-range:focus , .default-date-range:hover {
    background: var(--vt-c-default-white);
    border: var(--vt-c-purple);
 }
 
 .selected-date-range:focus , .selected-date-range:hover {
    background: var(--vt-c-default-white);
    border: var(--vt-c-purple);
 }

 .password-toggle {
   position:absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   cursor: pointer;

 }
      /* buttons */
  .button {
    background-color: var(--vt-c-default-white);
    height: 45rem; 
    width:40rem;
  }    

 .default-button {
    width: 85px;
    height: 42px;
    color: var(--vt-c-white);
    background: var(--vt-c-lavender);  
    border: var(--vt-c-purple);
 }
 
 .default-button:hover , .default-button:focus {
   background: var;
   box-shadow: 0 0 0 0.1rem  var(--vt-c-lavender);
 }

 .default-outline {
   width: 85px;
   height: 42px;
   color: var(--vt-c-blue);
   border: 2px solid var(--vt-c-blue);
   background: var(--vt-c-default-white);
 }

 .default-outline-purple {
   width: 85px;
   height: 42px;
   color: var(--vt-c-lavender);
   border: 2px solid var(--vt-c-lavender);
   background: var(--vt-c-default-white);
 }
 .click-hover-button {
   width: 114px;
   height: 42px;
   color: var(--vt-c-white);
   background: var(--vt-c-violet);
   border: var(--vt-c-purple);
 }

 .click-hover-button:hover , .click-hover-button:focus {
   background: var(--vt-c-violet);
   border:var(--vt-c-black);
 }

 .click-hover-outline {
   width: 114px;
   height: 42px;
   color: var(--vt-c-blue);
   border: 2px solid var(--vt-c-blue);
   background: var(--vt-c-default-white);
 }

 .click-hover-outline-purple {
   width: 114px;
   height: 42px;
   color: var(--vt-c-violet);
   border: 2px solid var(--vt-c-violet);
   background: var(--vt-c-default-white);
 }

 .disabled-button {
   width: 96px;
   height: 42px;
   color: var(--vt-c-default-white);
   background: var(--vt-c-light-gray);
   border: var(--vt-c-purple);
 }

 .disabled-button:hover , .disabled-button:focus {
   box-shadow: 0 0 0 0.1rem  var(--vt-c-light-gray);
 }

 .disabled-outline {
   width: 96px;
   height: 42px;
   color: var(--vt-c-light-gray);
   border: 2px solid var(--vt-c-light-gray);
   background: var(--vt-c-default-white);
}

/* button + icon */
.icon {
   font-size: 24px;
}

 .default-icon {
   width: 110px;
   height: 42px;
   color: var(--vt-c-blue);
   border: 2px solid var(--vt-c-blue);
   background: var(--vt-c-default-white);
 }

 .click-hover-icon {
   width: 137px;
   height: 42px;
   color: var(--vt-c-sky);
   border: 2px solid var(--vt-c-sky);
   background: var(--vt-c-default-white);
 }

 .disabled-icon {
   width: 115px;
   height: 42px;
   color: var(--vt-c-light-gray);
   border: 2px solid var(--vt-c-light-gray);
   background: var(--vt-c-default-white);
 }

 .default-purple {
   width: 114px;
   height: 42px;
   color: var(--vt-c-lavender);
   border: 2px solid var(--vt-c-lavender);
   background: var(--vt-c-default-white);
 }

 .click-hover-purple {
   width: 137px;
   height: 42px;
   color: var(--vt-c-violet);
   border: 2px solid var(--vt-c-violet);
   background: var(--vt-c-default-white);
 }

 /* text */
 .text-default {
   font-family: 'Inter' sans-serif;
   color: var(--vt-c-lavender);
 }

 .text-click-hover {
   font-family: 'Inter' sans-serif;
   color: var(--vt-c-lavender);
 }

.text-disabled {
   font-family: 'Inter' sans-serif;
   color: var(--vt-c-light-gray);
}

.arrow , .arrow-right , .text-previous {
   color: var(--vt-c-light-gray);
}

.text-one , .text-next , .arrow:hover , .arrow-right , .arrow-right:hover {
  color: var(--vt-c-violet);  
  text-shadow: 2px solid var(--vt-c-violet); 
}

 .icon-eye , .icon-filter {
   color: var(--vt-c-default-white);
   font-size: 24px;
 }

 .icon-black {
  color: var(--vt-c-default-white);
  font-size: 24px;
  margin-left: 1px;
 }

 .icon-select {
  font-size: 24px;
  margin-left: 1px;
 }

.icon-span {
    background-color: var(--vt-c-default-white);
    font-size: 24px;
    border-radius: 0rem;
}

.icon-span-purple {
    border: 1px solid var(--vt-c-violet);
    border-radius: 0rem;
    background-color: var(--vt-c-default-white);
    font-size: 24px;
}

  /* close button */
.close-button {
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    background-color: var(--vt-c-blue);
    cursor: pointer;
  }

.close-button-green {
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    background-color: var( --vt-c-light-green);
    color: white;
    text-align: center;
    transform: rotate(-90deg);
    cursor: pointer;
  }
/* filter */
.btn-filter {
   width: 130px;
   height: 44px;
   color: var(--vt-c-default-white);
   background-color: var(--vt-c-purple);
   border-left:1px solid var(--vt-c-light-gray);
   border-top: 1px solid var(--vt-c-purple);
   border-bottom: 1px solid var(--vt-c-purple);
   border-right: 1px solid var(--vt-c-purple);
   border-radius:0%;
   box-shadow: none;
}

.form-check-input:checked {
   background-color: var(--vt-c-purple);
 }

 .form-check-input:checked:hover {
   background-color: var(--vt-c-purple);
 }

 .filter-text {
   color: var(--vt-c-default-white);
 }

 .btn-purple-filter {
   background: var(--vt-c-purple);
   border-left: 0.1rem solid var(--vt-c-purple);
   border-top: 1px solid var(--vt-c-purple);
   border-bottom: 1px solid var(--vt-c-purple);
   border-right: 1px solid var(--vt-c-purple);
   border-radius:0%;
   box-shadow: none;  
 }

 .btn-default {
   background: var(--vt-c-default-white);
   border-left:1px solid var(--vt-c-light-gray);
   border-top: 1px solid var(--vt-c-light-gray);
   border-bottom: 1px solid var(--vt-c-light-gray);
   border-radius:0%;
   box-shadow: none;
 }

 .btn-default-icon {
  background: var(--vt-c-default-white);
   border-left: 0.1rem solid var(--vt-c-light-gray);
   border-top: 1px solid var(--vt-c-light-gray);
   border-bottom: 1px solid var(--vt-c-light-gray);
   border-right: 1px solid var(--vt-c-light-gray);
   border-radius:0%;
   box-shadow: none;  
   height: 42px;
   width: 130px;
}
