/* bg of form */
.vh-100 .col-md-10 .carousel-caption {
    position: absolute;
    width: 592px;
    height: 120px;
    left: 74px;
    top: 32px;
}
/* Sign in to your account  */
.vh-100 .col-md-8 form .text-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0px;
}
/* div design for login btn and signup */
.vh-100 .col-md-8 form .text-center {
    padding: 10px 20px;
    height: 11px;
}
/* button */
.vh-100 .col-md-8 form .text-center .login-button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--vt-c-purple);
    box-shadow: none;
}
/* Amplify your payments with */
.vh-100 .col-md-10 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 40px;
    font-size: 36px;
    margin: 0 0 10px;
}
/* ampliPAY */
.vh-100 .col-md-10  span {
    color: var(--vt-c-blue);
    font-weight: 900;
    font-size: 40px;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}
/* img design */
.image-column {
    height: 600px;
    left: 0px;
    top: 0px;
    background: url('src/assets/images/Img.svg');
}

.vh-100 [type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: var(--vt-c-default-white);
    cursor: pointer;
    display: flex;
}

.vh-100 [type="checkbox"]:checked {
    background-color: var(--vt-c-purple); 
}

.vh-100.password-container {
    position: relative;
}
/* input fields */
.vh-100 .form-control, form-floating {
    color: var(--vt-c-purple);
} 