.payments input[type="checkbox"].toggle {
  display: none;
}

.payments input[type="checkbox"].toggle+label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.payments input[type="checkbox"].toggle+label::before {
  content: "";
  height: 24px;
  width: 48px;
  background-color: var(--vt-c-white);
  border: 2px solid var(--vt-c-blue);
  border-radius: 1rem;
  margin-right: 1rem;
  transition: 300ms ease-in-out;
}

.payments input[type="checkbox"].toggle+label::after {
  content: "";
  position: absolute;
  left: 0.3em;
  height: 1rem;
  width: 1rem;
  background-color: var(--vt-c-blue);
  border-radius: 1rem;
  margin-right: 1rem;
  transition: 300ms ease-in-out;
}

.payments input[type="checkbox"].toggle:checked+label::after {
  transform: translateX(1.5rem);
  background-color: var(--vt-c-white);
}

.payments input[type="checkbox"].toggle:checked+label::before {
  background-color: var(--vt-c-blue);
  border: 2px solid var(--vt-c-blue);
  border-radius: 1rem;
  margin-right: 1rem;
}