.form-switch-btn {
  padding-left: 2.5em;
}

.form-switch-btn .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(49%, 65.5%, 94.5%)'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
  border-color: var(--vt-c-blue);
  border: 2px solid var(--vt-c-blue);
}

@media (prefers-reduced-motion: reduce) {
  .form-switch-btn .form-check-input {
    transition: none;
    background-color: var(--vt-c-blue);
  }
}

.form-switch-btn .form-check-input:focus {
  background-color: var(--vt-c-blue);
  color: var(--vt-c-blue);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.form-switch-btn .form-check-input:checked {
  border-color: var(--vt-c-blue);
  background-color: var(--vt-c-blue);
  color: var(--vt-c-blue);
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.input-border {
  border: 1px solid var(--vt-c-light-gray);
}

.input-border:hover {
  border-color: var(--vt-c-seafoam-green) !important;
}