.table-heading2:hover {
    background-color: initial;
}
.table .table-hover{
    width: 89rem;
    border-color: var(--vt-c-purple);
    background-color: var(--vt-c-default-white);  
}

.table-badge-text-requested{
    text-align: center;
}
td:hover {
   color: var(--vt-c-black);
  }
.default-outline-refund{
    color: var(--vt-c-purple);
    border-color: var(--vt-c-purple);
}
.default-outline-export{
    border-color: var(--vt-c-blue);
    color: var(--vt-c-blue);
}
.icon-arrow{
    font-size: 1rem;
    height: 1rem;
}
.color-black{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
}

td {
    white-space: nowrap;
}
.btn-danger{
   width: 100px; 
   border: 2px solid;
}
.btn-warning{
   width: 100px;
   border: 2px solid;
}
.btn-success{
   width: 100px;
   border: 2px solid;
}
.table .size-table-data:hover {
  border: 1px solid var(--vt-c-purple);
  color: black;
}
tr.size-table-data:hover td {
    font-weight: bold;
}
.table .table-rows:hover {
    background-color: initial;
}

 
