.header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: black
  }
  
  .logo {
    margin-right: auto;
    font-size: 25px;
  }
  .notification-button {
    cursor: pointer;
    color: #fff;
  }
  
  .search-bar {
    display: flex;
    align-items: right;
    margin-left: 16px;
  }
  
  .search-bar input {
    width: 200px;
    padding: 8px;
    border: none;
  }
  
  .fa-search,
  .fa-bell {
    font-size: 18px;
  }