.sidebar {
  width: 284px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--vt-c-purple);
  color: var(--vt-c-default-white);
  z-index: 1;
}

.sidebar-header {
  background-color: var(--vt-c-blue);
  width: 284px;
  height: 82px;
}

.sidebar-header .account {
  text-align: center;
  top: 1.2rem;
  right: .5rem;
}

.sidebar-header .account a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--vt-c-default-white);
}

.sidebar-header .account p {
  font-size: 0.75rem;
  font-weight: normal;
}

.sidebar .dashboard a {
  color: var(--vt-c-default-white);
  left: 2.7rem;
  top: 1rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .dashboard i {
  font-size: 24px;
  right: 1.3rem;
  display: flex;
  align-items: center;
}

.sidebar .nav-item:hover {
  background-color: black;
  margin: 0%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  height: 2.5rem;
}

.sidebar ul {
  left: 0rem;
  top: 0rem;
}

.sidebar .nav-item a {
  color: var(--vt-c-default-white);
  left: 1rem;
}

.sidebar .nav-item, .sidebar .nav-link {
  display: flex;
  align-items: center;
}

.sidebar .nav-link i {
  margin-right: 10px;
  font-size: 24px;
  right: .5rem;
}

.sidebar .notification-row .notification-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: 22px;
  background: var(--vt-c-light-blue);
  color: var(--vt-c-black);
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
  left: 78%;
  bottom: .5rem;
  justify-content: center;
}

.sidebar .services {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  top: 1rem;
  left: 1rem;
} 