/* .table-heading1{
    color: var(--vt-c-purple); 
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-style: normal;
}
.text-start{
   font-size: 1rem;
}
.table .table-border{
    width: 45rem;
    border: 2px solid;
    border-color: var(--vt-c-purple);
    background-color: var(--vt-c-default-white);  
} */

.btn{
    border-radius: 0;
    width: 110px;
    height: 29px; 
}
