.search {
    width: 25%;
    height: 25%;
 }

.btn-default {
    border-color: gray;
}

.badge-red {
    color: var(--vt-c-light-red);
}

.accordion-toggle {
    cursor: pointer;
}

.filter-btn  {
    border: 1px solid var(--vt-c-light-gray);
}

.transaction-table-hover:hover td {
    font-weight: bold;
    background-color: var(--vt-c-default-white);
}

.transaction-table-hover:hover{
    border: 1px solid var(--vt-c-purple) !important;
}

.size-table-data, .table-hover {
    white-space: nowrap;
}

.border-color-white{
    border: solid 1px;
    border-color:  #f8f9fa !important;
}