.search {
    width: 25%;
    height: 25%;
 }

.btn-default {
    border-color: gray;
}

.badge-red {
    color: var(--vt-c-light-red);
}

.accordion-toggle {
    cursor: pointer;
}

.refund-request {
    border-color: var(--vt-c-purple);
}

.filter-btn  {
    border: 1px solid var(--vt-c-light-gray);
}

.transaction-table-hover:hover{
    font-weight: bold;
    background-color: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple) !important;

}

.table .size-table-data:hover {
    border: solid 1px var(--vt-c-purple);
}

.size-table-data {
    border: solid 1px;
}

/* tr.size-table-data:hover td {
    font-weight: bold;
    background-color: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple) !important;
} */

.table .table-rows:hover {
    background-color: initial;
}

.size-table-data, .table-hover {
    white-space: nowrap;
}

.table .table-hover:hover {
    border: 1px solid var(--vt-c-purple) !important;
    color: black;
}

.border-color-white{
    border: solid 1px;
    border-color:  #f8f9fa !important;
  }