.container{
    border: 1px solid;
    width: 70rem;
    height: 20rem;
    padding-top: 1rem;
}
.col{
    color: var(--vt-c-blue);
    justify-content: space-between;
}
.border-top{
    padding-bottom: 5rem;
    
}
.border-bottom{
    padding-top: 5rem;
    width: 74rem;
}

.table{
    border: 1px solid;
    width: 70rem;
    height: 15rem;
    line-height: 1rem;
}
.col .border-top{
    padding-top: 2rem;
}
.col .border-bottom{
    padding-top: 1px;
}
