.search {
    width: 25%;
    height: 25%;
 }

.search-bar {
   width: 300px;
   height: 44px;
}

.filter-bar {
   width: 55px;
   height: 44px;
   border-color: silver;
}

.button-request {
   width:160px;
   height: 44px;
   padding: 10px,20px,10px,20px;
}

.button-outline-export{
   width: 92px; 
   height: 44px;
   padding: 10px,20px,10px,20px; 
}
.btn-default {
    border-color: gray;
}
.badge-red {
    color: var(--vt-c-light-red);
}
.accordion-toggle {
    cursor: pointer;
}
.filter-btn  {
    border: 1px solid var(--vt-c-light-gray);
}

.transaction-table-hover:hover td {
    font-weight: bold;
    background-color: var(--vt-c-default-white);
}

.button-x {
    width: 150px;
    height: 44px;
    /* padding: 10px, 20px, 10px, 20px; */
    color: var(--vt-c-white);
    background: var(--vt-c-lavender);  
    border: var(--vt-c-purple);
 }
.icon-purple {
    color: var(--vt-c-purple);
    background: transparent;  
    border: var(--vt-c-purple);

}
.transaction-table-hover:hover td{
    font-weight: bold;
    background-color: var(--vt-c-default-white);
}
.size-table-data {
    border: solid 1px transparent;
    border-bottom: 1px transparent;
}
.size-table-data:hover {
    background-color: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple) !important;
}
.size-table-data2:hover{
    background-color: var(--vt-c-default-white);
    border: 1px solid var(--vt-c-purple) !important;
}

.size-table-data:hover td{
    font-weight: bold;
}


.table .table-rows:hover {
    background-color: initial;
}
.size-table-data, .table-hover {
    white-space: nowrap;
}
.border-color-white{
    border: solid 1px;
    border-color:  #f8f9fa !important;
  }
.modal-form .modal-floating .modal-select:hover {
    border-color: var(--vt-c-lavender);
}
.modal-floating:hover {
    color: var(--vt-c-lavender);
}
.icon-purple {
    height: 33px;
    font-size: 53px;
    line-height: 25px;
}

.refund-request {
    width: 157px;
    height: 44px;
    padding: 10px, 20px, 10px, 20px;
    color: var(--vt-c-violet);
    border: 2px solid var(--vt-c-violet);
    background: var(--vt-c-default-white);
    border-color: var(--vt-c-violet);
}

.refund-border-purple {
    border-color: 1px solid var(--vt-c-violet) !important;
}
.badge-template{
    width: 81px !important;
    height: 20px !important;
}

.font-table-blue:hover {
   color: var(--vt-c-blue);
}

.button-outline-user {
    border: 1px solid; 
    border-color: var(--vt-c-blue); 
    width: 90px; 
    height: 38px;
}

.button-outline-user {
    font-size: 24px; 
    top: 3px;
}

.button-icon-purple-request {
    border: 1px solid;
    box-shadow: none !important;
    height: 44px;
}