@import './base.css';
@import 'css/bootstrap/bootstrap.css';
@import 'css/typography.css';
@import 'css/input-colors-button.css';
@import 'css/footer.css';

@font-face {
  font-family: Poppins;
  src: url('../assets/font_styles/Poppins-Regular.ttf') format(truetype);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/font_styles/Poppins-Bold.ttf') format(truetype);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/font_styles/Poppins-Black.ttf') format(truetype);
  font-style: normal;
  font-weight: black;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/font_styles/Poppins-Light.ttf') format(truetype);
  font-style: normal;
  font-weight: light;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/font_styles/Poppins-SemiBold.ttf') format(truetype);
  font-style: normal;
  font-weight: semi-bold;
}
