@import './base.css';
@import 'css/bootstrap/bootstrap.css';
@import 'css/header.css';
@import 'css/typography.css';
@import 'css/table.css';
@import 'css/footer.css';


@font-face {
  font-family: Inter;
  src: url('../assets/font_styles/Inter-SemiBold.ttf') format(truetype);
  font-weight: bold;
  font-style: normal;
}
