:root {
   --gray: #44435F;
}

.poppins {
  /* Poppins/H1/Bold */
  font-family: 'Poppins' sans-serif;   
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: var(--gray);
}

  /* Heading 1 */
.Poppins-h1-semibold {
   font-family: 'Poppins' sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 48px;
   text-align: center;
   color: var(--gray)
   }   

.Poppins-h1-bold {
   font-family: 'Poppins' sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   text-align: center;
   color: var(--gray)
   }
   
.Poppins-h1-black {
   font-family: 'Poppins' sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 48px;
   text-align: center;
   color: var(--gray)
}

   /* Heading2 */   
.Poppins-h2-semibold {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: var(--gray)
}

.Poppins-h2-bold {
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: var(--gray)
}

.Poppins-h2-black {
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: var(--gray)
}

/* Subheading */
.Poppins-subheading-semibold {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--gray)
}

.Poppins-subheading-bold {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--gray)
}

.Poppins-subheading-black {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--gray)
}

   /* Body 1 */
.Poppins-body-light {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--gray)
}

.Poppins-body-regular {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--gray)
}

.Poppins-body-semibold {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--gray)
   }

/* Body 2 */
.Poppins-body2-light {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: var(--gray)
   }

.Poppins-body2-regular {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: var(--gray)
   }

.Poppins-body2-semibold {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: var(--gray)
}


.inter {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   color: var(--gray)
}

  /* Heading 1 */
.Inter-h1-semibold {
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--gray)
  }   
  
.Inter-h1-bold {
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--gray)
  }
  
.Inter-h1-black {
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--gray)
}

  /* Heading2 */   
.Inter-h2-semibold {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   color: var(--gray)
}

.Inter-h2-bold {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   color: var(--gray)
}

.Inter-h2-black {
   font-family: 'Poppins' sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   color: var(--gray)
}

/* Subheading */
.Inter-subheading-semibold {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: var(--gray)
}

.Inter-subheading-bold {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: var(--gray)
}

.Inter-subheading-black {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: var(--gray)
}

  /* Body 1 */
.Inter-body-light {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: var(--gray)
}

.Inter-body-regular{
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: var(--gray)
}

.Inter-body-semibold {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: var(--gray)
  }

   /* Body 2 */
.Inter-body2-light{
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   color: var(--gray)
  }

.Inter-body2-regular{
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   color: var(--gray)
  }

.Inter-body2-semibold {
   font-family: 'Poppins' sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   color: var(--gray)
} 

/* Body 3 */
.Inter-body3-light {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 10.1px;
   text-align: center;
   color: var(--gray)
}

.Inter-body3-regular {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 10.1px;
   text-align: center;
   color: var(--gray)
}

.Inter-body3-semibold {
   font-family: 'Inter' sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 10.1px;
   text-align: center;
   color: var(--gray)
}

