@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;900&display=swap');

.poppins {
  /* Poppins/H1/Bold */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #44435F;
}

  /* Heading 1 */
.Poppins-H1-SemiBold {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 48px;
   text-align: center;
   color: #44435F;
   }   
   
.Poppins-H1-Bold {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   text-align: center;
   color: #44435F;
   }
   
.Poppins-H1-Black {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 48px;
   text-align: center;
   color: #44435F;
}

   /* Heading2 */   
.Poppins-H2-SemiBold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #44435F;
}

.Poppins-H2-Bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #44435F;
}

.Poppins-H2-Black {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #44435F;
}

/* Subheading */
.Poppins-SubHeading-SemiBold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #44435F;
}

.Poppins-SubHeading-Bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #44435F;
}

.Poppins-SubHeading-Black {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #44435F;
}

   /* Body 1 */
.Poppins-Body-Light {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #44435F;
}

.Poppins-Body-Regular {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #44435F;
}

.Poppins-Body-SemiBold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #44435F;
   }

/* Body 2 */
.Poppins-Body2-Light {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #44435F;
   }

.Poppins-Body2-Regular {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #44435F;
   }

.Poppins-Body2-SemiBold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #44435F;
}


.inter {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   color: #44435F;
}

  /* Heading 1 */
.Inter-H1-SemiBold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #44435F;
  }   
  
.Inter-H1-Bold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #44435F;
  }
  
.Inter-H1-Black {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #44435F;
}

  /* Heading2 */   
.Inter-H2-SemiBold {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   color: #44435F;
}

.Inter-H2-Bold {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   color: #44435F;
}

.Inter-H2-Black {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   color: #44435F;
}

/* Subheading */
.Inter-SubHeading-SemiBold {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: #44435F;
}

.Inter-SubHeading-Bold {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: #44435F;
}

.Inter-SubHeading-Black {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 900;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: #44435F;
}

  /* Body 1 */
.Inter-Body-Light {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #44435F;
}

.Inter-Body-Regular{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #44435F;
}

.Inter-Body-SemiBold {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #44435F;
  }

   /* Body 2 */
.Inter-Body2-Light{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   color: #44435F;
  }

.Inter-Body2-Regular{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   color: #44435F;
  }

.Inter-Body2-SemiBold {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   color: #44435F;
} 

/* Body 3 */
.Inter-Body3-Light {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 10.1px;
   text-align: center;
   color: #44435F;
}

.Inter-Body3-Regular {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 10.1px;
   text-align: center;
   color: #44435F;
}

.Inter-Body3-SemiBold {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 10.1px;
   text-align: center;
   color: #44435F;
}